html{
    background-color: rgb(255, 255, 255);
}

body {
    padding-top: 200px;
    background-color: rgb(255, 255, 255);
}

.gogo{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(236, 236, 236);
    color: rgb(17, 0, 255);
    padding: 20px;
    text-align: center;
}


.zack-pic{
    display: flex;
    align-content: center;
    justify-content: center;
}

.zack-pic img{
    margin: 10px;
    width: 50%;
    height: 100%;
}

.about-me{
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 30px;
}

.education{
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 30px;
}

.skills{
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 30px;
}
.top-quote{
    align-items: center;
    text-align: center;
}

.page{
    margin: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

.center-page{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(236, 236, 236);
    color: rgb(17, 0, 255);
    margin: 30px;
}

.foot{
    background-color: rgb(236, 236, 236);
    color: rgb(17, 0, 255);
    text-align: center;  
}